/* INDEX */
@media screen and (max-width: 1300px) {
    .container__nuevosproductos {
        margin: 80px 40px;
    }
}

@media screen and (max-width: 1174px) {
    .container__cartas div {
    width: 330px;
    }
}

@media screen and (max-width: 1128px) {
    .container__nuevosproductos {
        margin: 80px 6px;
    }
    .container-article-aside{
        margin: 6px;
    }
    .container__cartas {
        margin: 50px 6px;
    }
}

@media screen and (max-width: 1114px) {
    .container__cartas div {
        width: 290px;
    }
}
@media screen and (max-width: 994px) {
    .header__navbar{
        .icono-cart{
            display: none;
        }
    }
    .header__logo{
        margin: 0;
    }
    .container__cartas div {
        margin-top: 10px;
    }
    .container-article-aside .article-aside img{
        height: 400px;
    }
}

@media screen and (max-width: 942px) {
    .container-article-aside .article-aside p {
        font-size: 36px;
    }
}
@media screen and (max-width: 906px) {
    .container__cartas div {
        padding: 10px;
        width: 255px;
        .icono__carta {
            font-size: 50px;
            margin-bottom: 10px;
        }
        h5 {
            font-size: 17px;
            padding-bottom: 0px;
        }
        p {
            font-size: 15px;
        }
    }
}
@media screen and (max-width: 900px) {
    .carousel__index__container .carousel__index {
        .carousel__indexUno{
            background-image: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.06785416803440125) 53%, rgba(0,0,0,0.7233163529083508) 81%)
            ,url(../multimedia/hero-tablet.jpg);
            background-size: cover;
            background-position: center center;
        }
        .carousel__indexDos{
            background-position: center left;
        }
        .carousel__indexTres{
            background-position: center right;
        }
    }
    .container__nuevosproductos {
        margin: 50px;
    }
    .container-article-aside .article-aside{
        h3 {
            padding: 8px;
            height: 48px;
            font-size: 28px;
        }
        p {
            font-size: 31px;
            margin-top: 8px;
        }
        img {
            height: 310px;
        }
    }
    .container__cartas {
        margin: 20px 6px 50px 6px;
    }
}

@media screen and (max-width: 800px) {
    .container__cartas div {
        padding: 5px;
        width: 340px;
        height: 177px;
        .icono__carta {
            font-size: 42px;
            margin: 10px;
        }
    }
}

@media screen and (max-width: 780px) {
    .carousel__index__container .carousel__index {
        .carousel__indexDos{
            background-position: center right;
        }
    }
}
@media screen and (max-width: 767px) {
    .container-article-aside {
        margin: 6px 70px;
        aside{
            p{
                text-align: center;
            }
            .index-servicios {
                height: 400px;
                padding: 0px 125px;
            }
        }
    }
}
@media screen and (max-width: 704px) {
    .container-article-aside aside .index-servicios {
        height: 400px;
        padding: 0px 90px;
    }
    .container__cartas div{
        padding: 15px;
    }
}
@media screen and (max-width: 675px) {
    .container__nuevosproductos {
        margin: 30px;
        align-items: center;

        .titulo__nuevosproductos {
            height: 60px;
        }
    }
    .carousel__index__container .carousel__index .carousel__indexTres h1 {
        font-size: 50px;
        width: 511px;
    }
}
@media screen and (max-width: 630px){
    .container-article-aside {
        margin: 6px 50px;
    }
}
@media screen and (max-width: 596px) {
    .container__nuevosproductos{
        @include flexbox(flex, column, space-between);
    }
}
@media screen and (max-width: 576px) {
    .container-article-aside {
        margin: 6px 10px;
    }
    footer{
        padding: 15px;
        height: 150px;
        @include flexbox(flex, column, center);
        align-items: center;

            .icono__footer{
            font-size: 18px;
            padding: 8px 0px 0px 8px ;
            }

            div{
            padding-top: 10px;
            text-align: center;
                
                p{
                font-size: 12px;
                text-align: center;
                }
            }
        }
    }
@media screen and (max-width: 500px) {
    .hero__index__container .hero__index{
        background-image: url(../multimedia/hero-mobile2.jpg);
        background-position: left center;
    }
    .container-article-aside{
        .article-aside p {
            font-size: 27px;
            margin-top: 8px;
        }
        aside .index-servicios {
            height: 410px;
            padding: 0px 50px;
        }
    }
    .container__cartas {
        margin: 10px;
        div{
                h5{
                font-size: 16px;
                }
                p{
                font-size: 15px;
                }
                .icono__carta {
                    font-size: 50px;
                }
        }
    }
    .header__navbar .icon-cart{
        font-size: 8px;
    }
    .whatsapp__icono {
        width: 120px;
    }
}
@media screen and (max-width: 432px) {
    .container-article-aside{
        .article-aside h3 {
            padding: 6px;
            height: 40px;
            font-size: 24px;
        }
        aside .index-servicios {
            padding: 0px 20px;
        }
    } 
}
@media screen and (max-width: 428px) {
    .header__logo {
        width: 200px;
    }
}
@media screen and (max-width: 410px) {
    .container__nuevosproductos h3 {
        font-size: 25px;
    }
}
@media screen and (max-width: 381px) {
    .container__cartas div .icono__carta {
        font-size: 37px;
        margin-bottom: 3px;
    }
}
@media screen and (max-width: 378px) {
    .container-article-aside{
        .article-aside {
            h3 {
                font-size: 23px;
            }
            p {
                font-size: 25px;
                margin-top: 6px;
            }
        }
        aside .index-servicios {
            height: 350px;
        }
    }
}
@media screen and (max-width: 363px) {
    .container__nuevosproductos h3 {
        padding: 8px;
    }
    .container-article-aside .article-aside .index-mobile{
        height: 65px;
    }
}
@media screen and (max-width: 328px) {
    .header__navbar{
        padding: 10px;
    }
    .header__logo {
        .logo__titulo {
            font-size: 46px;
            height: 55px;
        }
        .logo__subtitulo{
            font-size: 14px;
        }
    }
    .producto .card__producto a {
        font-size: 14px;
        padding: 8px 12px;
    }
    .container-article-aside .article-aside img {
        height: 267px;
    }
    .container-article-aside aside .index-servicios {
        height: 290px;
    }
}


/* COSMETICOS */
@media screen and (max-width: 1168px) {
    .container__cosmeticos {
        margin: 0px 10px 30px 10px;
    }
}
@media screen and (max-width: 812px) {
    .container__cosmeticos {
        justify-content: space-around;
    }
}
@media screen and (max-width: 769px) {
    .listaCategorias ul{
        display: flex;
        flex-flow: row wrap;
    }
    .listaCategorias li{
        margin: 15px;
        a {
        font-size: 17px;
        }
    }
    .ordenar {
        width: 357px;
        margin-left: 60px;
    }
}
@media screen and (max-width: 700px) {
    .container__cosmeticos .ordenar{
        font-size: 15px
    }
    .container__cosmeticos .volver {
        margin-left: 0px;
        width: 600px;
    }
}
@media screen and (max-width: 675px) {
    .container__cosmeticos {
        margin: 10px;
        @include flexbox(flex, column, space-between);
        align-items: center;
        .titulo__cosmeticos h3 {
        margin-top: 70px;
        }
        .ordenar{
        margin-top: 10px;
        }
    }
    .container__cosmeticos .volver {
        width: 262px;
    }
}
@media screen and (max-width: 500px) {
    .hero__cosmeticos__container .hero__cosmeticos{
        background-image: url(../multimedia/hero-cosmeticos-mobile.jpg);
        background-size: cover;
        background-position: center center;
        height: 520px;
        h1{
        font-size: 29px;
        height: 60px;
        width: 196px;
        }
    }
}
@media screen and (max-width: 418px) {
    .ordenar {
        margin-left: 10px;
        width: 250px;
    }
}


/* ESCUELA */
@media screen and (max-width: 1025px) {
    .curso__container {
        margin: 70px 0px;
        .curso__programa {
            width: 95%;
        }
        .volver {
            margin-left: 0px;
            width: 840px;
        }
    }
    
}
@media screen and (max-width: 967px) {
    .curso__container .curso__programa .programa div h2 {
        font-size: 37px;
    }
    .listaCategorias{
        li {
            margin-top: 27px;
        }
        ul {
            margin-top: 30px;
        }
    }
}
@media screen and (max-width: 907px) {
    .curso__container .curso__programa .programa div h2 {
        font-size: 33px;
    }
    .curso__container .curso__programa .programa div p {
        font-size: 16px;
    }
    .curso__container .curso__programa .programa div button {
        position: relative;
        left: 25%;
        padding: 7px;
    }
}
@media screen and (max-width: 768px) {
    .curso__container{
        margin-top: 26px;
        .curso__programa .programa div {
            padding: 0;
            h2 {
                font-size: 27px;
            }
            button {
                padding: 5px;
                font-size: 15px;
            }
        }
    }
    .curso__programa .curso__img {
        height: 200px;
    }
    .tallerNovias .curso__programa .taller__img {
        height: 200px;
    }
    .tallerMarketing .curso__programa .marketing__img {
        height: 200px;
    }
}
@media screen and (max-width: 441px) {
    .curso__container .curso__programa .programa div h2 {
        font-size: 20px;
    }
    .curso__container .curso__programa .programa div button {
        font-size: 14px;
    }
}


/* NOSOTRAS */
@media screen and (max-width: 1258px) {
    .instagram__nosotras {
        margin: 30px;
    }
    .instagram__nosotras .redesClick {
        width: 300px;
    }
}
@media screen and (max-width: 1184px) {
    .instagram__nosotras .redesClick {
        width: 230px;
    }
}
@media screen and (max-width: 1134px) {
    .instagram__nosotras{
        .instagram__iframeUno {
            width: 370px;
            height: 501px;
        }
        .instagram__iframeDos {
            width: 370px;
            height: 571px;
        }
        .redesClick {
            width: 217px;
        }
        .instagram__iframeTres {
            width: 370px;
            height: 571px;
        }
        .instagram__iframeCuatro {
            width: 370px;
            height: 571px;
        }
    }
}
@media screen and (max-width: 1075px) {
    .instagram__nosotras{
        .followUs{
            h4 {
                font-size: 65px;
                span {
                    font-size: 144px;
                }
            }
            .click {
                font-size: 40px;
            }
        }
        .instagram__iframeUno {
            width: 350px;
            height: 481px;
        }
        .instagram__iframeDos {
            width: 350px;
            height: 546px;
        }
        .instagram__iframeTres {
            width: 350px;
            height: 543px;
        }
        .instagram__iframeCuatro {
            width: 350px;
            height: 544px;
        }
    }
}
@media screen and (max-width: 1116px) {
    .hero__nosotras__container .hero__nosotras h3 {
        font-size: 161px;
    }
    .nuestraMision__container .nuestraMision h3 {
        font-size: 161px;
    }
}
@media screen and (max-width: 895px) {
    .hero__nosotras__container .hero__nosotras h3 {
        font-size: 130px;
    }
    .nuestraMision__container .nuestraMision h3 {
        font-size: 130px;
    }
    .container__nosotras p {
        width: 700px;
        padding: 20px;
    }
    .container__ellas p {
        padding: 20px;
        width: 700px;
    }
}
@media screen and (max-width: 730px) {
    .hero__nosotras__container .hero__nosotras h3 {
        font-size: 100px;
    }
    .nuestraMision__container .nuestraMision h3 {
        font-size: 100px;
    }
    .container__nosotras p {
        width: 499px;
        font-size: 15px;
    }
    .container__ellas p {
        width: 499px;
        font-size: 15px;
    }
    .hero__nosotras__container .hero__nosotras h2 {
        font-size: 30px;
    }
    .nuestraMision__container .nuestraMision h2 {
        font-size: 30px;
    }
}
@media screen and (max-width: 430px) {
    .hero__nosotras__container .hero__nosotras h3 {
        font-size: 72px;
    }
    .nuestraMision__container .nuestraMision h3 {
        font-size: 72px;
    }
    .container__nosotras p {
        width: 345px;
        font-size: 14px;
    }
    .container__ellas p {
        width: 345px;
        font-size: 14px;
    }
    
}


/* CONTACTO */
@media screen and (max-width: 1137px){
    .container__contacto .contacto {
        margin: 10px 10px 10px 10px;
    }
}
@media screen and (max-width: 1033px) {
    .container__contacto .contacto {
        width: 582px;
        
    }
    .container__contacto .aside__encontranos {
        width: 270px;
    
        p {
        margin: 0px;
        }
    }
}
@media screen and (max-width: 903px) {
    .container__contacto{
        @include flexbox(flex, column, center);
        align-items: center;
        
        .aside__encontranos {
        width: 466px;
        height: 240px;
        }
    }
}
@media screen and (max-width: 768px) {
    .mapa__contacto .mapa {
        width: 500px;
        height: 360px;
    }
}
@media screen and (max-width: 700px) {
    .hero__contacto h2{
        position: relative;
        top: 10px;
        right: 0px;
    }
    .container__contacto{
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 18px;
        }
        form {
            width: 544px;
        }
    }
    .info__contacto {
        h4 {
            font-size: 27px;
        }
        div {
            font-size: 17px;
        }
    }
}
@media screen and (max-width: 590px) {
    .container__contacto{
        h1 {
            font-size: 44px;
        }
        p {
            font-size: 17px;
        }
        form {
            width: 440px;
            height: 446px;
            padding: 30px 20px;
        }
    }
    .info__contacto {
        div {
            font-size: 16px;
        }
        .redes {
            font-size: 28px;
        }
    }
}
@media screen and (max-width: 530px) {
    .hero__contacto h3 {
        font-size: 24px;
        padding: 17px;
        width: 440px;
    }
    .hero__contacto h2 {
        font-size: 27px;
        padding: 8px;
        width: 130px;
    }
}
@media screen and (max-width: 516px) {
    .container__contacto {
        h1 {
            font-size: 39px;    }
        p {
            font-size: 17px;
            margin-bottom: 15px;
        }
    }
    .info__contacto{
        h4 {
        font-size: 25px;
    }
    p {
        font-size: 16px;
    }
    }
    .mapa__contacto {
        height: 387px;
    }
}
@media screen and (max-width: 469px) {
    .container__contacto {
        h1 {
            font-size: 34px;
        }
        form{
            input {
                font-size: 15px;
            }
            select {
                font-size: 15px;
            }
            textarea {
                font-size: 15px;
            }
        }
        .enviarMensaje {
            font-size: 17px;
        }
    }
    .info__contacto div .redes {
        font-size: 29px;
    }
}
@media screen and (max-width: 427px) {
    .hero__contacto {
        h2 {
            font-size: 22px;
            width: 109px;
        }
        h3 {
            font-size: 20px;
            padding: 13px;
            width: 383px;
        }
    } 
}
@media screen and (max-width: 355px) {
    .hero__contacto h3 {
        font-size: 17px;
        padding: 13px;
        width: 310px;
    }
    .container__contacto{
        height: 563px;
        h1 {
            font-size: 27px;
        }
        p {
            font-size: 16px;
        }
        form {
            width: 315px;
            height: 383px;
            padding: 21px 14px;
            .enviarMensaje {
                font-size: 17px;
            }
        }
    }
    .info__contacto{
        h4 {
            font-size: 24px;
        }
        p {
            font-size: 15px;
        }
        div .redes {
            padding: 15px;
            font-size: 27px;
        }
    }
}