$colorPrincipal: rgb(221, 0, 48);
$colorSecundario: #0f0f0f;
$colorTerciario: #181818;

$fuentePrincipal: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

@mixin flexbox($flex, $direction, $justify) {
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin imagen-producto {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
}

$redes: (
        instagram: #F56040,
        twitter: #55acee,
        facebook:  #3a5795
);

@each $red, $color in $redes {
    .btn--#{$red} {
        color: $color;
    }
}

$estilos: (
    backgroundColor: #fff,
    color: #000,
    padding: 10px,
    display: inline-block,
    font: $fuentePrincipal,
    fontsize: 40px,
    border: 2px solid black
);