@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------INDEX-------INDEX-------INDEX-------INDEX--------------INDEX-------INDEX------- */
body {
    font-family: "Montserrat", sans-serif;
    background-color: $colorSecundario;
}

/* -------------------- HEADER ------------------------ */
header {
    background-color:#0f0f0f00;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 174px;

    nav {
        background-color: #0f0f0fe3;
        width: 100%;
        border-bottom: 2px solid black;
    }
}

.header__logo {
    padding: 10px;
    margin: 20px 0px 20px 30px;
    width: 300px;
    color: white;

    span {
        display: block;
        text-decoration: none;
        color: #fff;
        transition: color 0.5s;
    }

    .logo__titulo {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        font-size: 49px;
        font-weight: bold;
        height: 61px;
    }

    .logo__subtitulo {
        font-family: $fuentePrincipal;
        font-size: 15px;
        padding: 0px;
    }

    &:hover {
        color: $colorPrincipal;
    }
}

.header__navbar .header__nav {
    padding: 10px;

    .menu li a {
        color: white;
        font-family: $fuentePrincipal;
        font-size: 19px;
        padding: 5px;
        margin-right: 0px;
        transition: color 0.5s;

        &:hover {
            color: $colorPrincipal;
        }
    }
}

.header__navbar .header__nav form button{
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        color: white;
        background-color: $colorPrincipal;
        border: 1px solid $colorPrincipal;
        transition: all 0.5s;

        &:hover {
            background-color: rgb(136, 0, 27);
            border: 1px solid rgb(136, 0, 27);
        }
}

.header__navbar {
    a {
        text-decoration: none;
    }

    .icon-cart {
        font-size: 28px;
        color: white;
        margin-left: 7px;
        transition: color 0.5s;

        &:hover {
            color: $colorPrincipal;
        }
    }
}

/* -------------------- HERO ------------------------ */
.carousel__index__container .carousel__index{
    height: 600px;
    width: 100%;
    padding: 0px;

    .carousel__indexUno{
        background-image: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.06785416803440125) 53%, rgba(0,0,0,0.7233163529083508) 81%)
        ,url(../multimedia/hero4.jpg);
        @include hero-carousel;
        h1 {
            font-family: $fuentePrincipal;
            color: white;
            font-size: 80px;
            text-align: center;
            width: 263px;
            line-height: 1;
            margin-left: 60px;
            margin-top: 120px;
        }
    
        p {
            font-family: $fuentePrincipal;
            color: white;
            font-size: 25px;
            padding: 10px;
            width: 263px;
            text-align: center;
            margin-left: 60px;
        }
    
        button {
            font-size: 18px;
            font-weight: normal;
            padding: 10px 18px;
            border: none;
            background-color: $colorPrincipal;
            font-family: $fuentePrincipal;
            cursor: pointer;
            width: 200px;
            margin-left: 91px;
    
            &:hover {
                background-color: rgb(136, 0, 27);
                transform: scale(1.1, 1.1);
            }

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    .carousel__indexDos{
        background-image: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.06785416803440125) 53%, rgba(0,0,0,0.7233163529083508) 81%)
        ,url(../multimedia/floresAmarillas.jpg);
        @include hero-carousel;
        h1 {
            font-family: $fuentePrincipal;
            color: white;
            font-size: 70px;
            text-align: left;
            width: 263px;
            line-height: 1;
            margin-left: 40px;
            margin-top: 290px;
        }
    
        p {
            font-family: $fuentePrincipal;
            color: white;
            font-size: 25px;
            width: 300px;
            text-align: left;
            margin-left: 50px;
        }
    
        button {
            font-size: 18px;
            font-weight: normal;
            padding: 8px 16px;
            border: none;
            background-color: $colorPrincipal;
            font-family: $fuentePrincipal;
            cursor: pointer;
            width: 190px;
            margin-left: 50px;
    
            &:hover {
                background-color: rgb(136, 0, 27);
                transform: scale(1.1, 1.1);
            }

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    .carousel__indexTres{
        background-image: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.06785416803440125) 53%, rgba(0,0,0,0.7233163529083508) 81%)
        ,url(../multimedia/serviciohero.jpg);
        @include hero-carousel;

        h1 {
            font-family: $fuentePrincipal;
            color: white;
            font-size: 60px;
            text-align: left;
            width: 640px;
            line-height: 1;
            margin-left: 40px;
            margin-top: 90px;
        }
    
        p {
            font-family: $fuentePrincipal;
            color: white;
            font-size: 25px;
            width: 300px;
            text-align: left;
            margin-left: 50px;
        }
    
        button {
            font-size: 18px;
            font-weight: normal;
            padding: 8px 16px;
            border: none;
            background-color: $colorPrincipal;
            font-family: $fuentePrincipal;
            cursor: pointer;
            width: 150px;
            margin-left: 50px;
    
            &:hover {
                background-color: rgb(136, 0, 27);
                transform: scale(1.1, 1.1);
            }

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

/* -------------------- NUEVOS PRODUCTOS ------------------------ */
.container__nuevosproductos {
    background-color: $colorSecundario;
    margin: 80px 80px 50px 80px;
    @include flexbox(flex, row, space-between);
    flex-wrap: wrap;
    align-content: space-around;

    
    .titulo__nuevosproductos {
        width: 100%;
        height: 100px;
        @include flexbox(flex, row, center);
        padding: 0;
    }

    h3 {
        @include h3-index
    }

    .verCatalogo{
        font-family: $fuentePrincipal;
        font-size: 25px;
        margin-top: 20px;
        text-align: right;
        a{
            text-decoration: none;
            color: white;
        }
        &:hover{
            text-shadow: 0 0 30px #fff;
        }
    }
}

.container__nuevosproductos .producto {
    background-color: $colorTerciario;
    height: 380px;
    width: 16rem;
    margin-top: 18px;
    @include flexbox(flex, column, center);
    align-items: center;

    .imagen__productoUno {
        @include imagen-producto;
        background-image: url(../multimedia/producto1.png);

        &:hover {
            background-image: url(../multimedia/producto-hover-1.png);
        }
    }

    .imagen__productoDos {
        @include imagen-producto;
        background-image: url(../multimedia/producto2.png);

        &:hover {
            background-image: url(../multimedia/producto-hover-2.png);
        }
    }

    .imagen__productoTres {
        @include imagen-producto;
        background-image: url(../multimedia/producto3.png);

        &:hover {
            background-image: url(../multimedia/producto-hover-3.png);
        }
    }

    .imagen__productoCuatro {
        @include imagen-producto;
        background-image: url(../multimedia/producto4.png);

        &:hover {
            background-image: url(../multimedia/producto-hover-4.png);
        }
    }

    .imagen__productoCinco {
        @include imagen-producto;
        background-image: url(../multimedia/producto-estrella.png);

        &:hover {
            background-image: url(../multimedia/producto-estrella-hover.png);
        }
    }

    .imagen__productoSeis {
        @include imagen-producto;
        background-image: url(../multimedia/productoB.png);

        &:hover {
            background-image: url(../multimedia/producto-hover-B.png);
        }
    }

    .imagen__productoSiete {
        @include imagen-producto;
        background-image: url(../multimedia/productoC.png);

        &:hover {
            background-image: url(../multimedia/producto-hover-C.png);
        }
    }

    .imagen__productoOcho {
        @include imagen-producto;
        background-image: url(../multimedia/productoA.png);

        &:hover {
            background-image: url(../multimedia/producto-hover-A.png);
        }
    }
}

.producto .card__producto {
    @include flexbox(flex, column, center);

    h5 {
        color: white;
        font-size: 15px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        text-align: center;
    }

    p {
        padding-bottom: 10px;
        color: white;
        text-align: center;

        span {
            text-decoration: line-through;
            margin-left: 8px;
        }
    }

    a {
        font-size: 15px;
        font-weight: normal;
        padding: 8px 16px;
        border: 3px solid $colorPrincipal;
        color: white;
        background-color: $colorPrincipal;
        font-family: $fuentePrincipal;

        &:hover {
            box-shadow: 0 0 25px $colorPrincipal;
            font-size: 16px;
        }
    }
}

.container-article-aside {
    margin: 40px;

    .article-aside{
        padding: 10px;
        text-align: right;

        h3{
            @include h3-index
        }

        p{
            font-family: $fuentePrincipal;
            font-size: 40px;
            color: #fff;
            line-height: 1;
            margin-top: 20px;

            span{
                background-color: $colorPrincipal;
                display: inline-block;
            }
        }

        img{
            width: 100%;
            height: 450px;
            margin: 0px 0px 15px 0px;
            filter:opacity(90%);
        }

        a{
            font-family: $fuentePrincipal;
            font-size: 25px;
            margin-top: 20px;
            text-decoration: none;
            color: white;

            &:hover{
                text-shadow: 0 0 30px #fff;
            }
        }
    } 
}

/* -------------------- CARTAS ------------------------ */
.container__cartas {
    @include flexbox(flex, row, space-evenly);
    flex-wrap: wrap;
    margin: 50px;

    div {
        width: 350px;
        height: 230px;
        @include flexbox(flex, column, center);
        align-items: center;
        border: 2px solid #00000059;
        border-radius: 20px;
        padding: 20px;

        .icono__carta {
            font-size: 60px;
            color: $colorPrincipal;
            margin-bottom: 15px;
        }

        h5 {
            font-family: $fuentePrincipal;
            color: #fff;
            font-size: 18px;
            padding-bottom: 6px;
        }

        p {
            font-size: 16px;
            text-align: center;
            color: #fff;
            font-family: 'Raleway', sans-serif;
        }
    }
}

/* -------------------- WHATSAPP ------------------------ */
.whatsapp__icono {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
}

/* -------------------- FOOTER ------------------------ */
footer {
    background-color: black;
    padding: 23px;
    height: 120px;

    .icono__footer {
        color: #fff;
        font-size: 14px;
        padding: 10px 0px 0px 10px;
        cursor: pointer;
    }

    div {
        padding-top: 20px;

        p {
            @extend .icono__footer;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            line-height: 0;
        }
    }
}

/*-------COSMETICOS-------COSMETICOS-------COSMETICOS-------COSMETICOS--------------COSMETICOS-------COSMETICOS */
nav .header__nav .menu li .active__nav {
    color: $colorPrincipal;
    text-shadow: 0 0 15px $colorPrincipal;
}

/* -------------------- HERO ------------------------ */
.hero__cosmeticos__container .hero__cosmeticos {
    background-image: url(../multimedia/hero-cosmeticos.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 40px;
    height: 550px;
    width: 100%;

    h1 {
        color: map-get($estilos, color);
        background-color: map-get($estilos, backgroundColor);
        padding: map-get($estilos, padding);
        display: map-get($estilos, display);
        font-family: map-get($estilos, font);
        font-size: map-get($estilos, fontsize);
        border: map-get($estilos, border);
        margin-left: 20px;
        position: relative;
        bottom: 25px;
        height: 74px;
        width: 261px;
    }

    p{
        @include p-hero;
        .p-uno{
            @include p-hero-estilos ($colorSecundario, 30px, 221px, 102px, 672px)
        }
        .p-dos{
            @include p-hero-estilos( $colorSecundario, 35px, 301px, 140px, 672px)
        }
        .p-tres{
            @include p-hero-estilos( $colorPrincipal, 45px, 274px, 187px, 726px)
        }
    }
}
/* -------------------- CATEGORIAS ------------------------ */
.listaCategorias ul {
    @include flexbox(flex, row, space-evenly);
    flex-wrap: nowrap;
    margin-top: 50px;
}

.listaCategorias li {
    display: inline-block;

    a {
        text-decoration: none;
        color: white;
        padding: 10px 50px;
        font-family: $fuentePrincipal;
        font-size: 20px;
        background-color: black;
        width: 30%;

        &:hover {
            background-color: $colorPrincipal;
            box-shadow: 0 0 30px $colorPrincipal;
        }
    }
}
.ordenar {
    margin-top: 50px;
    color: #fff;

    select{
        font-weight: bold;

        option{
            @extend select
        }
    }
}

/* -------------------- PRODUCTOS ------------------------ */
.container__cosmeticos {
    margin: 0px 60px 30px 60px;
    background-color: $colorSecundario;
    display: flex;
    justify-content: space-between;

    .titulo__cosmeticos h3 {
        font-family: $fuentePrincipal;
        color: #fff;
        font-size: 60px;
        padding: 10px;
        margin: 50px 0px 0px 20px;
    }

    .volver{
        font-family: $fuentePrincipal;
        font-size: 25px;
        margin-top: 20px;
        margin-left: 40px;
        text-align: left;
        width: 90%;

        a{
            text-decoration: none;
            color: white;
        }

        &:hover{
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
        }
    }

    .producto {
        background-color: $colorTerciario;
        height: 380px;
        width: 16rem;
        margin-top: 18px;
        @include flexbox(flex, column, center);
        align-items: center;

        .card__producto {
            @include flexbox(flex, column, center);
        }

        div a {
            font-size: 15px;
            font-weight: normal;
            padding: 8px 16px;
            border: 3px solid $colorPrincipal;
            color: white;
            background-color: $colorPrincipal;
            font-family: $fuentePrincipal;
        }

        div h5 {
            color: white;
            font-size: 15px;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            text-align: center;
        }

        .imagen__productoUno {
            @include imagen-producto;
            background-image: url(../multimedia/producto1.png);
    
            &:hover {
                background-image: url(../multimedia/producto-hover-1.png);
            }
        }
    
        .imagen__productoDos {
            @include imagen-producto;
            background-image: url(../multimedia/producto2.png);
    
            &:hover {
                background-image: url(../multimedia/producto-hover-2.png);
            }
        }
    
        .imagen__productoTres {
            @include imagen-producto;
            background-image: url(../multimedia/producto3.png);
    
            &:hover {
                background-image: url(../multimedia/producto-hover-3.png);
            }
        }
    
        .imagen__productoCuatro {
            @include imagen-producto;
            background-image: url(../multimedia/producto4.png);
    
            &:hover {
                background-image: url(../multimedia/producto-hover-4.png);
            }
        }

        .imagen__productoSeis {
            @include imagen-producto;
            background-image: url(../multimedia/productoB.png);
    
            &:hover {
                background-image: url(../multimedia/producto-hover-B.png);
            }
        }
    
        .imagen__productoSiete {
            @include imagen-producto;
            background-image: url(../multimedia/productoC.png);
    
            &:hover {
                background-image: url(../multimedia/producto-hover-C.png);
            }
        }
    
        .imagen__productoOcho {
            @include imagen-producto;
            background-image: url(../multimedia/productoA.png);
    
            &:hover {
                background-image: url(../multimedia/producto-hover-A.png);
            }
        }

        .rostroUno{
            @include imagen-producto;
            background-image: url(../multimedia/rostroUno.png);

            &:hover{
                background-image: url(../multimedia/rostro-uno.png);
            }
        }

        .rostroDos {
            @include imagen-producto;
            background-image: url(../multimedia/rostroDos.png);

            &:hover{
                background-image: url(../multimedia/rostro-dos.png);
            }
        }

        .rostroTres{
            @include imagen-producto;
            background-image: url(../multimedia/rostroTres.png);

            &:hover{
                background-image: url(../multimedia/rostro-tres.png);
            }
        }

        .rostroCuatro{
            @include imagen-producto;
            background-image: url(../multimedia/rostroCuatro.png);

            &:hover{
                background-image: url(../multimedia/rostro-cuatro.png);
            }
        }

        .productoD{
            @include imagen-producto;
            background-image: url(../multimedia/productoD.png);

            &:hover{
                background-image: url(../multimedia/producto-D.png);
            }
        }

        .productoE{
            @include imagen-producto;
            background-image: url(../multimedia/productoE.png);

            &:hover{
                background-image: url(../multimedia/producto-hover-A.png);
            }
        }

        .productoF{
            @include imagen-producto;
            background-image: url(../multimedia/productoF.png);

            &:hover{
                background-image: url(../multimedia/producto-F.png);
            }
        }

        .productoG{
            @include imagen-producto;
            background-image: url(../multimedia/productoG.png);

            &:hover{
                background-image: url(../multimedia/producto-hover-B.png);
            }
        }

        .productoH{
            @include imagen-producto;
            background-image: url(../multimedia/productoH.png);

            &:hover{
                background-image: url(../multimedia/producto-H.png);
            }
        }
    }

    .cosmetico {
        background-color: $colorTerciario;
        height: 380px;
        width: 16rem;
        margin-top: 18px;
        @include flexbox(flex, column, center);
        align-items: center;

        .card__producto {
            @include flexbox(flex, column, center);
        }

        div h5 {
            color: white;
            font-size: 15px;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            text-align: center;
        }

        div p {
            padding-bottom: 10px;
            color: white;
            text-align: center;
            font-weight: lighter;

            span {
                text-decoration: line-through;
                margin-left: 8px;
            }
        }

        div a {
            font-size: 15px;
            font-weight: normal;
            padding: 8px 16px;
            border: 3px solid $colorPrincipal;
            color: white;
            background-color: $colorPrincipal;
            font-family: $fuentePrincipal;

            &:hover {
                box-shadow: 0 0 25px $colorPrincipal;
                font-size: 16px;
            }
        }

        .imagen__cosmeticoUno {
            background-image: url(../multimedia/producto5.png);
            @include imagen-producto;

            &:hover {
                background-image: url(../multimedia/cosmetico-hover-uno.png);
            }
        }

        .imagen__cosmeticoDos {
            background-image: url(../multimedia/producto6.png);
            @include imagen-producto;

            &:hover {
                background-image: url(../multimedia/cosmetico-hover-dos.png);
            }
        }

        .imagen__cosmeticoTres {
            background-image: url(../multimedia/producto7.png);
            @include imagen-producto;

            &:hover {
                background-image: url(../multimedia/cosmetico-hover-tres.png);
            }
        }

        .imagen__cosmeticoCuatro {
            background-image: url(../multimedia/producto8.png);
            @include imagen-producto;

            &:hover {
                background-image: url(../multimedia/cosmetico-hover-cuatro.png);
            }
        }
    }
}

/*-------ESCUELA-------ESCUELA-------ESCUELA-------ESCUELA--------------ESCUELA-------ESCUELA------- */
/* -------------------- HERO ------------------------ */
.hero__escuela__container .hero__escuela {
    background-image: url(../multimedia/studio-ellas.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 40px;
    height: 550px;
    width: 100%;

    h1 {
        color: map-get($estilos, color);
        background-color: map-get($estilos, backgroundColor);
        padding: map-get($estilos, padding);
        display: map-get($estilos, display);
        font-family: map-get($estilos, font);
        font-size: map-get($estilos, fontsize);
        border: map-get($estilos, border);
        margin-left: 20px;
        height: 74px;
        width: 199px;
        position: relative;
        bottom: 25px;
    }
    
    p{
        @include p-hero;
        .p-uno{
            @include p-hero-estilos ($colorSecundario, 28px, 233px, 130px, 508px)
        }
        .p-dos{
            @include p-hero-estilos( $colorPrincipal, 34px, 426px, 166px, 426px)
        }
        .p-tres{
            @include p-hero-estilos( $colorSecundario, 28px, 121px, 208px, 565px)
        }
    }
}

/* -------------------- PROGRAMA ------------------------ */
.curso__container {
    width: 100%;
    margin: 70px 0px;
    display: flex;
    justify-content: center;

    .curso__programa{
        width: 80%;
        background-color: $colorTerciario;
        padding: 0;
        height: 460px;

        .programa {
            padding: 30px;

            div {
                color: #fff;
                padding: 0px;

                h2 {
                    font-family: $fuentePrincipal;
                    font-size: 38px;
                }

                .texto{
                    overflow: auto;
                    height: 295px;
                    background-color: #282828;
                    padding: 25px;

                    p{
                        font-weight: bold;

                        span{
                            background-color: rgba(255, 255, 41, 0.4);
                        }
                    }
                }

                button {
                    position: relative;
                    top: 10px;
                    left: 35%;
                    padding: 8px;
                    border: 2px solid black;
                    font-size: 16px;
                    font-weight: bold;
                    font-family: $fuentePrincipal;
                    cursor: pointer;

                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
    }

    .volver{
        font-family: $fuentePrincipal;
        font-size: 25px;
        margin-top: 20px;
        text-align: left;
        padding: 0px 0px 0px 144px;

        a{
            text-decoration: none;
            color: white;
        }

        &:hover{
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
        }
    }
}
.curso__programa .curso__img {
    animation-name: imagenCurso;
    @include cursoAnimacion;
}
.tallerNovias{
    margin-top: 30px;

    .curso__programa .taller__img{
        animation-name: imagenTaller;
        @include cursoAnimacion;
    }
}
.tallerMarketing{
    margin-top: 30px;
    margin-bottom: 70px;

    .curso__programa{
        .marketing__img{
            animation-name: imagenMarketing;
            @include cursoAnimacion;
        }

        .programa div .texto{
            height: 249px;
        }
    } 
}

/*-------SERVICIOS-------SERVICIOS-------SERVICIOS-------SERVICIOS--------------SERVICIOS-------SERVICIOS */
/* -------------------- HERO ------------------------ */
.hero__servicios__container .hero__servicios {
    background-image: url(../multimedia/servicios3.jpeg);
    background-size: cover;
    background-position: center center;
    margin-top: 40px;
    height: 550px;
    width: 100%;

    h1 {
        color: map-get($estilos, color);
        background-color: map-get($estilos, backgroundColor);
        padding: map-get($estilos, padding);
        display: map-get($estilos, display);
        font-family: map-get($estilos, font);
        font-size: map-get($estilos, fontsize);
        border: map-get($estilos, border);
        margin-left: 20px;
        position: relative;
        bottom: 25px;
    }
    p{
        @include p-hero;
        .p-uno{
            @include p-hero-estilos ($colorSecundario, 30px, 265px, 216px, 222px)
        }
        .p-dos{
            @include p-hero-estilos ($colorSecundario, 25px, 75px, 254px, 412px)
        }
        .p-tres{
            @include p-hero-estilos ($colorPrincipal, 47px, 299px, 288px, 188px)
        }
    }
}

/* -------------------- CATEGORIAS ------------------------ */
.listaCategorias ul {
    flex-wrap: wrap;
    padding: 0px;
    margin-bottom: 0px;
}

.listaCategorias li{
    text-align: center;
    a {
        padding: 10px 10px;
    }
} 

/* -------------------- info ------------------------ */
.servicios__container {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

    .servicios__info{
        width: 90%;
        background-color: $colorTerciario;
        padding: 0;
        height: 500px;

        .imagen{
            
            .novias__img{
                animation-name: imagenNovias;
                @include serviciosAnimacion;
            }
            .eventos__img{
                animation-name: imagenEventos;
                @include serviciosAnimacion;
            }
            .moda__img{
                animation-name: imagenModa;
                @include serviciosAnimacion;
            }
        }

        .info {
            padding: 30px;

            div {
                color: #fff;
                padding: 0px;

                h2 {
                    font-family: $fuentePrincipal;
                    font-size: 42px;
                    margin-bottom: 0;
                }

                h3{
                    font-family: $fuentePrincipal;
                    font-size: 32px;
                }

                .texto{
                    overflow: auto;
                    height: 280px;
                    background-color: #282828;
                    padding: 10px;

                    .intro{
                        text-align: center;
                    }

                    p{
                        font-weight: bold;

                        span{
                            background-color:rgba(255, 255, 41, 0.4);
                        }
                    }

                    h6{
                        font-weight: bold;
                        text-decoration: underline;
                    }
                }

                .texto-moda{
                    height: 260px;
                }

                button {
                    position: relative;
                    top: 15px;
                    left: 45%;
                    padding: 10px;
                    border: 2px solid black;
                    font-size: 16px;
                    font-weight: bold;
                    font-family: $fuentePrincipal;
                    cursor: pointer;

                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
    }

    .volver{
        font-family: $fuentePrincipal;
        font-size: 25px;
        text-align: left;
        padding: 0px;
        padding-left: 60px;

        a{
            text-decoration: none;
            color: white;
        }

        &:hover{
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
        }
    }
}


/*-------NOSOTRAS-------NOSOTRAS-------NOSOTRAS-------NOSOTRAS--------------NOSOTRAS-------NOSOTRAS */
/* -------------------- NOSOTRAS ------------------------ */
.hero__nosotras__container .hero__nosotras {
    background-image: url(../multimedia/nosotras3.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 40px;
    height: 550px;
    width: 100%;

    h2 {
        color: map-get($estilos, color);
        background-color: map-get($estilos, backgroundColor);
        padding: map-get($estilos, padding);
        display: map-get($estilos, display);
        font-family: map-get($estilos, font);
        font-size: map-get($estilos, fontsize);
        border: map-get($estilos, border);
        margin-left: 20px;
        position: relative;
        bottom: 25px;
    }
}

.container__nosotras {
    @include flexbox(flex, row, center);

    h3{
        font-family: $fuentePrincipal;
        color: #fff;
        text-align: center;
        font-size: 78px;
        padding: 25px 0px 0px 0px;
        margin: 0;
    }

    p {
        width: 910px;
        text-align: center;
        padding: 0px;
        margin: 0px 30px;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;

        .resaltar{
            background-color: $colorPrincipal;
        }

        .enfasis{
            font-family: $fuentePrincipal;
            font-size: 28px;
        }
    }
}

.instagram__nosotras {
    margin: 40px;
    @include flexbox (flex, row, center);

    .instagram__iframeUno{
        width: 400px;
        height: 533px;
        position: relative;
        top: 37px;
    }

    .instagram__iframeDos{
        width: 400px;
        height: 610px;
    }

    .instagram__iframeTres{
        width: 400px;
        height: 609px;
    }

    .instagram__iframeCuatro{
        width: 400px;
        height: 609px;
        position: relative;
        bottom: 14px;
    }

    .followUs{
        padding-top: 213px;
        width: 250px;
        position: relative;

        h4{
            font-family: $fuentePrincipal;
            font-size: 72px;
            color: #fff;
            text-shadow: 0 0 20px #fff;
            line-height: 0.6;

            span{
                font-size: 154px;
                color: $colorPrincipal;
                text-shadow: 0 0 20px $colorPrincipal;
            }
        }

        .click{
            font-size: 50px;
            color: #fff;
            text-shadow: 0 0 20px rgba(255, 255, 255, 0.908);
            position: absolute;
            left: 186px;
            top: 330px;
        }
    }

    .redesClick{
        @include flexbox(flex, column, space-evenly);
        align-items:center;
        width: 354px;
        height: 578px;

        .click{
            font-size: 36px;
            color: #fff;
            text-shadow: 0 0 15px rgba(255, 255, 255, 0.592);
            cursor: pointer;

            &:hover{
                transform: scale(1.5);
            }
        }
    }
}

/* -------------------- ELLAS ------------------------ */
.nuestraMision__container .nuestraMision {
    background-image: url(../multimedia/mision5.jpeg);
    background-size: cover;
    background-position: center center;
    margin-top: 40px;
    height: 480px;
    width: 100%;

    h2 {
        color: map-get($estilos, color);
        background-color: map-get($estilos, backgroundColor);
        padding: map-get($estilos, padding);
        display: map-get($estilos, display);
        font-family: map-get($estilos, font);
        font-size: map-get($estilos, fontsize);
        border: map-get($estilos, border);
        margin-left: 20px;
        position: relative;
        bottom: 25px;
    }
}

.container__ellas {
    @include flexbox(flex, row, center);
    margin-bottom: 70px;

    h3{
        font-family: $fuentePrincipal;
        color: #fff;
        text-align: center;
        font-size: 78px;
        padding: 25px 0px 0px 0px;
        margin: 0;
    }

    p {
        width: 910px;
        text-align: center;
        padding: 0px;
        margin: 0px 30px 0px 30px;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;

        .resaltar{
            background-color: $colorPrincipal;
        }

        .enfasis{
            font-family: $fuentePrincipal;
            font-size: 28px;
            line-height: 1;
        }
    }
}


/*-------CONTACTO-------CONTACTO-------CONTACTO-------CONTACTO--------------CONTACTO-------CONTACTO------- */
/* -------------------- HERO ------------------------ */
.hero__contacto {
    @include flexbox(flex, column, center);
    flex-wrap: nowrap;
    align-items: center;
    height: 290px;
    background-color: #000;

    h2 {
        font-family: $fuentePrincipal;
        background-color: white;
        color: black;
        font-size: 30px;
        padding: 10px;
        border: 3px solid black;
        display: inline-block;
        width: 153px;
        position: relative;
        top: 10px;
        right: 254px;
        margin-top: 60px;
    }

    h3 {
        font-family: $fuentePrincipal;
        background-color: $colorPrincipal;
        color: white;
        font-size: 28px;
        padding: 20px;
        width: 510px;
        margin-bottom: 60px;
        border: 2px solid #000;
        position: relative;

        span{
            position: absolute;
            right: 0;
            width: 0;
            background: $colorPrincipal;
            border-left: 1px solid white;
            animation: maquina 5s infinite alternate steps(36);
        }
    }
}

/* -------------------- CONTACTO ------------------------ */
.container__contacto{
    width: 100%;
    height: 658px;
    margin: 0px;
    margin-top: 10px;
    @include flexbox (flex, column, center);
    align-items: center;

        h1 {
            font-family: $fuentePrincipal;
            font-size: 54px;
            color: #fff;
            text-align: center;
            margin-top: 0px;
            margin-bottom: 10px;
        }

        p{
            color: #fff;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            text-align: center;
            margin-bottom: 30px;
            line-height: 1.2;
        }

        form {
            @include flexbox(flex, column, space-evenly);
            height: 452px;
            background-color: $colorTerciario;
            padding: 42px 30px;
            border-radius: 20px;
            width: 633px;

            input{
                font-size: 17px;
                color: #fff;
                font-weight: bold;
                padding: 4px;
                font-family: "Roboto", sans-serif;
                background-color: #80808017;
            }

            select{
                font-size: 17px;
                font-weight: bold;
                padding: 4px;
                font-family: "Roboto", sans-serif;
                background-color: #80808017;
                color: rgba(255, 255, 255, 0.45);

                option{
                    color: #000;
                    font-weight: bold;
                }
            }

            textarea{
                font-size: 17px;
                color: rgb(255, 255, 255);
                font-weight: bold;
                padding: 4px;
                font-family: "Roboto", sans-serif;
                background-color: #80808017;
            }

            .enviarMensaje {
                color: white;
                background-color: $colorPrincipal;
                font-family: $fuentePrincipal;
                font-size: 18px;
                border: none;
                padding: 4px;
                height: 37px;
                margin-top: 15px;
                box-shadow: 0 0 25px $colorPrincipal;
            }
        }
}

.info__contacto {
    color: white;
    margin: 35px 0px 35px 0px;
    @include flexbox (flex, column, center);
    align-items: center;

    h4 {
        font-family: $fuentePrincipal;
        text-align: center;
        font-size: 28px;
    }

    div{
        width: 400px;
        text-align: center;
        font-size: 18px;

        p{
            margin: 0;
        }

        .redes {
            padding: 25px;
            cursor: pointer;
            font-size: 32px;
            text-shadow: 0 0 15px rgba(255, 255, 255, 0.592);
            text-align: center;
            color: #fff;

            &:hover {
                transform: scale(1.3, 1.3);
            }
        }
    }
}

/* -------------------- IFRAME ------------------------ */
.mapa__contacto {
    @include flexbox(flex, row, center);
    align-items: center;
    width: 100%;
    height: 460px;
    margin: 0px;

    .mapa {
        width: 800px;
        height: 400px;
    }
}


@import "mediaqueries";