@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------INDEX-------INDEX-------INDEX-------INDEX--------------INDEX-------INDEX------- */
body {
    font-family: "Montserrat", sans-serif;
    background-color: $colorSecundario;
}

/* -------------------- HEADER ------------------------ */
header {
    background-color: $colorSecundario;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 140px;

    nav {
        background-color: $colorSecundario;
        width: 100%;
        height: 100%;
    }
}

.header__logo {
    padding: 10px;
    margin: 20px 0px 20px 30px;
    width: 300px;
    color: white;

    span {
        display: block;
        text-decoration: none;
        color: #fff;
        transition: color 0.5s;
    }

    .logo__titulo {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        font-size: 49px;
        font-weight: bold;
        height: 61px;
    }

    .logo__subtitulo {
        font-family: $fuentePrincipal;
        font-size: 15px;
        padding: 0px;
    }

    &:hover {
        color: $colorPrincipal;
    }
}

.header__navbar .header__nav {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;

    .menu li a {
        color: white;
        font-family: $fuentePrincipal;
        font-size: 19px;
        padding: 5px;
        margin-right: 0px;
        transition: color 0.5s;

        &:hover {
            color: $colorPrincipal;
        }
    }
}

.header__navbar .header__nav form {
    margin-left: 100px;

    button {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        color: white;
        background-color: $colorPrincipal;
        border: 1px solid $colorPrincipal;
        transition: all 0.5s;

        &:hover {
            background-color: rgb(136, 0, 27);
            border: 1px solid rgb(136, 0, 27);
        }
    }
}

.header__navbar {
    a {
        text-decoration: none;
    }

    .icon-cart {
        font-size: 28px;
        color: white;
        margin-left: 7px;
        transition: color 0.5s;

        &:hover {
            color: $colorPrincipal;
        }
    }
}

/* -------------------- HERO ------------------------ */
.carousel__index__container .carousel__index{
    height: 600px;
    width: 100%;
    padding: 0px;

    .carousel__indexUno{
        background-image: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.06785416803440125) 53%, rgba(0,0,0,0.7233163529083508) 81%)
        ,url(../multimedia/hero4.jpg);
        @include hero-carousel;
        h1 {
            font-family: $fuentePrincipal;
            color: white;
            font-size: 80px;
            text-align: center;
            width: 263px;
            line-height: 1;
            margin-left: 60px;
            margin-top: 80px;
        }
    
        p {
            font-family: $fuentePrincipal;
            color: white;
            font-size: 25px;
            padding: 10px;
            width: 263px;
            text-align: center;
            margin-left: 60px;
        }
    
        button {
            font-size: 18px;
            font-weight: normal;
            padding: 10px 18px;
            border: none;
            background-color: $colorPrincipal;
            font-family: $fuentePrincipal;
            cursor: pointer;
            width: 200px;
            margin-left: 91px;
    
            &:hover {
                background-color: rgb(136, 0, 27);
                transform: scale(1.1, 1.1);
            }

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    .carousel__indexDos{
        background-image: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.06785416803440125) 53%, rgba(0,0,0,0.7233163529083508) 81%)
        ,url(../multimedia/floresAmarillas.jpg);
        @include hero-carousel;
        h1 {
            font-family: $fuentePrincipal;
            color: white;
            font-size: 70px;
            text-align: left;
            width: 263px;
            line-height: 1;
            margin-left: 40px;
            margin-top: 290px;
        }
    
        p {
            font-family: $fuentePrincipal;
            color: white;
            font-size: 25px;
            width: 300px;
            text-align: left;
            margin-left: 50px;
        }
    
        button {
            font-size: 18px;
            font-weight: normal;
            padding: 8px 16px;
            border: none;
            background-color: $colorPrincipal;
            font-family: $fuentePrincipal;
            cursor: pointer;
            width: 190px;
            margin-left: 50px;
    
            &:hover {
                background-color: rgb(136, 0, 27);
                transform: scale(1.1, 1.1);
            }

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    .carousel__indexTres{
        background-image: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.06785416803440125) 53%, rgba(0,0,0,0.7233163529083508) 81%)
        ,url(../multimedia/serviciohero.jpg);
        @include hero-carousel;

        h1 {
            font-family: $fuentePrincipal;
            color: white;
            font-size: 60px;
            text-align: left;
            width: 640px;
            line-height: 1;
            margin-left: 40px;
            margin-top: 99px;
        }
    
        p {
            font-family: $fuentePrincipal;
            color: white;
            font-size: 25px;
            width: 300px;
            text-align: left;
            margin-left: 50px;
        }
    
        button {
            font-size: 18px;
            font-weight: normal;
            padding: 8px 16px;
            border: none;
            background-color: $colorPrincipal;
            font-family: $fuentePrincipal;
            cursor: pointer;
            width: 150px;
            margin-left: 50px;
    
            &:hover {
                background-color: rgb(136, 0, 27);
                transform: scale(1.1, 1.1);
            }

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

/* -------------------- NUEVOS PRODUCTOS ------------------------ */
.container__nuevosproductos {
    background-color: $colorSecundario;
    margin: 80px;
    @include flexbox(flex, row, space-between);
    flex-wrap: wrap;
    align-content: space-around;

    
    .titulo__nuevosproductos {
        width: 100%;
        height: 100px;
        @include flexbox(flex, row, center);
    }

    h3 {
        color: white;
        background-color: black;
        padding: 10px;
        width: 38%;
        height: 58px;
        font-family: $fuentePrincipal;
        font-size: 30px;
        text-align: center;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
    }

    .verCatalogo{
        font-family: $fuentePrincipal;
        font-size: 25px;
        margin-top: 20px;
        text-align: right;
        a{
            text-decoration: none;
            color: white;
        }
    }
}

.container__nuevosproductos .producto {
    background-color: $colorTerciario;
    height: 380px;
    width: 16rem;
    margin-top: 18px;
    @include flexbox(flex, column, center);
    align-items: center;

    .imagen__productoUno {
        @include imagen-producto;
        background-image: url(../multimedia/producto1.png);

        &:hover {
            background-image: url(../multimedia/producto-hover-1.png);
        }
    }

    .imagen__productoDos {
        @include imagen-producto;
        background-image: url(../multimedia/producto2.png);

        &:hover {
            background-image: url(../multimedia/producto-hover-2.png);
        }
    }

    .imagen__productoTres {
        @include imagen-producto;
        background-image: url(../multimedia/producto3.png);

        &:hover {
            background-image: url(../multimedia/producto-hover-3.png);
        }
    }

    .imagen__productoCuatro {
        @include imagen-producto;
        background-image: url(../multimedia/producto4.png);

        &:hover {
            background-image: url(../multimedia/producto-hover-4.png);
        }
    }

    .imagen__productoCinco {
        @include imagen-producto;
        background-image: url(../multimedia/producto-estrella.png);

        &:hover {
            background-image: url(../multimedia/producto-estrella-hover.png);
        }
    }

    .imagen__productoSeis {
        @include imagen-producto;
        background-image: url(../multimedia/productoB.png);

        &:hover {
            background-image: url(../multimedia/producto-hover-B.png);
        }
    }

    .imagen__productoSiete {
        @include imagen-producto;
        background-image: url(../multimedia/productoC.png);

        &:hover {
            background-image: url(../multimedia/producto-hover-C.png);
        }
    }

    .imagen__productoOcho {
        @include imagen-producto;
        background-image: url(../multimedia/productoA.png);

        &:hover {
            background-image: url(../multimedia/producto-hover-A.png);
        }
    }
}

.producto .card__producto {
    @include flexbox(flex, column, center);

    h5 {
        color: white;
        font-size: 15px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        text-align: center;
    }

    p {
        padding-bottom: 10px;
        color: white;
        text-align: center;

        span {
            text-decoration: line-through;
            margin-left: 8px;
        }
    }

    a {
        font-size: 15px;
        font-weight: normal;
        padding: 8px 16px;
        border: 3px solid $colorPrincipal;
        color: white;
        background-color: $colorPrincipal;
        font-family: $fuentePrincipal;

        &:hover {
            box-shadow: 0 0 20px #fff;
            font-size: 16px;
        }
    }
}


/* -------------------- CARTAS ------------------------ */
.container__cartas {
    @include flexbox(flex, row, space-evenly);
    flex-wrap: wrap;
    margin: 50px;

    div {
        width: 350px;
        height: 230px;
        @include flexbox(flex, column, center);
        align-items: center;
        border: 2px solid rgb(100, 100, 100);
        border-radius: 20px;
        padding: 20px;

        .icono__carta {
            font-size: 60px;
            color: $colorPrincipal;
            margin-bottom: 15px;
        }

        h5 {
            font-family: $fuentePrincipal;
            color: #fff;
            font-size: 18px;
            padding-bottom: 6px;
        }

        p {
            font-size: 16px;
            text-align: center;
            color: #fff;
            font-family: 'Raleway', sans-serif;
        }
    }
}

/* -------------------- WHATSAPP ------------------------ */
.whatsapp__icono {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
}

/* -------------------- FOOTER ------------------------ */
footer {
    background-color: black;
    padding: 23px;
    height: 120px;

    .icono__footer {
        color: #fff;
        font-size: 14px;
        padding: 10px 0px 0px 10px;
    }

    div {
        padding-top: 20px;

        p {
            @extend .icono__footer;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            line-height: 0;
        }
    }
}

/*-------COSMETICOS-------COSMETICOS-------COSMETICOS-------COSMETICOS--------------COSMETICOS-------COSMETICOS */
nav .header__nav .menu li .active__nav {
    color: $colorPrincipal;
}

/* -------------------- HERO ------------------------ */
.hero__cosmeticos__container .hero__cosmeticos {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5),
    )
    ,url(../multimedia/hero-cosmeticos.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 40px;
    height: 550px;
    width: 100%;

    h1 {
        color: map-get($estilos, color);
        background-color: map-get($estilos, backgroundColor);
        padding: map-get($estilos, padding);
        display: map-get($estilos, display);
        font-family: map-get($estilos, font);
        font-size: map-get($estilos, fontsize);
        border: map-get($estilos, border);
        margin-left: 20px;
        position: relative;
        bottom: 25px;
        height: 74px;
        width: 261px;
    }
    h2 {
        color: rgba(255, 255, 255, 0.6);
        font-family: $fuentePrincipal;
        font-size: 120px;
        @include flexbox(flex, column, center);
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        text-align: right;
        line-height: 1;
        margin-right: 15px;
    }
    p {
        color: rgba(255, 255, 255, 0.6);
        font-family: $fuentePrincipal;
        font-size: 40px;
        @include flexbox(flex, column, center);
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        text-align: right;
        margin-right: 15px;
    }
}

/* -------------------- CATEGORIAS ------------------------ */
.listaCategorias ul {
    @include flexbox(flex, row, space-evenly);
    flex-wrap: nowrap;
    margin-top: 50px;
}

.listaCategorias li {
    display: inline-block;

    a {
        text-decoration: none;
        color: white;
        padding: 10px 50px;
        font-family: $fuentePrincipal;
        font-size: 20px;
        background-color: black;

        &:hover {
            background-color: $colorPrincipal;
        }
    }
}

/* -------------------- PRODUCTOS ------------------------ */
.container__cosmeticos {
    margin: 0px 60px 60px 60px;
    background-color: $colorSecundario;
    display: flex;
    justify-content: space-between;

    .titulo__cosmeticos h3 {
        font-family: $fuentePrincipal;
        color: #fff;
        font-size: 60px;
        padding: 10px;
        margin: 50px 0px 0px 20px;
    }

    .ordenar {
        margin-top: 75px;
        margin-left: 5x;
        color: #fff;
    }

    .producto {
        background-color: $colorTerciario;
        height: 380px;
        width: 16rem;
        margin-top: 18px;
        @include flexbox(flex, column, center);
        align-items: center;

        .card__producto {
            @include flexbox(flex, column, center);
        }

        div a {
            font-size: 15px;
            font-weight: normal;
            padding: 8px 16px;
            border: 3px solid $colorPrincipal;
            color: white;
            background-color: $colorPrincipal;
            font-family: $fuentePrincipal;
        }

        div h5 {
            color: white;
            font-size: 15px;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            text-align: center;
        }

        .imagen__productoUno {
            @include imagen-producto;
            background-image: url(../multimedia/producto1.png);
    
            &:hover {
                background-image: url(../multimedia/producto-hover-1.png);
            }
        }
    
        .imagen__productoDos {
            @include imagen-producto;
            background-image: url(../multimedia/producto2.png);
    
            &:hover {
                background-image: url(../multimedia/producto-hover-2.png);
            }
        }
    
        .imagen__productoTres {
            @include imagen-producto;
            background-image: url(../multimedia/producto3.png);
    
            &:hover {
                background-image: url(../multimedia/producto-hover-3.png);
            }
        }
    
        .imagen__productoCuatro {
            @include imagen-producto;
            background-image: url(../multimedia/producto4.png);
    
            &:hover {
                background-image: url(../multimedia/producto-hover-4.png);
            }
        }

        .imagen__productoSeis {
            @include imagen-producto;
            background-image: url(../multimedia/productoB.png);
    
            &:hover {
                background-image: url(../multimedia/producto-hover-B.png);
            }
        }
    
        .imagen__productoSiete {
            @include imagen-producto;
            background-image: url(../multimedia/productoC.png);
    
            &:hover {
                background-image: url(../multimedia/producto-hover-C.png);
            }
        }
    
        .imagen__productoOcho {
            @include imagen-producto;
            background-image: url(../multimedia/productoA.png);
    
            &:hover {
                background-image: url(../multimedia/producto-hover-A.png);
            }
        }
    }

    .cosmetico {
        background-color: $colorTerciario;
        height: 380px;
        width: 16rem;
        margin-top: 18px;
        @include flexbox(flex, column, center);
        align-items: center;

        .card__producto {
            @include flexbox(flex, column, center);
        }

        div h5 {
            color: white;
            font-size: 15px;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            text-align: center;
        }

        div p {
            padding-bottom: 10px;
            color: white;
            text-align: center;
            font-weight: lighter;

            span {
                text-decoration: line-through;
                margin-left: 8px;
            }
        }

        div a {
            font-size: 15px;
            font-weight: normal;
            padding: 8px 16px;
            border: 3px solid $colorPrincipal;
            color: white;
            background-color: $colorPrincipal;
            font-family: $fuentePrincipal;

            &:hover {
                background-color: rgba(238, 237, 237, 0.955);
                border: 3px solid $colorPrincipal;
                color: $colorPrincipal;
                font-size: 16px;
            }
        }

        .imagen__cosmeticoUno {
            background-image: url(../multimedia/producto5.png);
            @include imagen-producto;

            &:hover {
                background-image: url(../multimedia/cosmetico-hover-uno.png);
            }
        }

        .imagen__cosmeticoDos {
            background-image: url(../multimedia/producto6.png);
            @include imagen-producto;

            &:hover {
                background-image: url(../multimedia/cosmetico-hover-dos.png);
            }
        }

        .imagen__cosmeticoTres {
            background-image: url(../multimedia/producto7.png);
            @include imagen-producto;

            &:hover {
                background-image: url(../multimedia/cosmetico-hover-tres.png);
            }
        }

        .imagen__cosmeticoCuatro {
            background-image: url(../multimedia/producto8.png);
            @include imagen-producto;

            &:hover {
                background-image: url(../multimedia/cosmetico-hover-cuatro.png);
            }
        }
    }
}

/* /*-------ESCUELA-------ESCUELA-------ESCUELA-------ESCUELA--------------ESCUELA-------ESCUELA------- */
/* -------------------- HERO ------------------------ */
.hero__escuela__container .hero__escuela {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5),
    )
    ,url(../multimedia/servicios3.jpeg);
    background-size: cover;
    background-position: center center;
    margin-top: 40px;
    height: 550px;
    width: 100%;

    h1 {
        color: map-get($estilos, color);
        background-color: map-get($estilos, backgroundColor);
        padding: map-get($estilos, padding);
        display: map-get($estilos, display);
        font-family: map-get($estilos, font);
        font-size: map-get($estilos, fontsize);
        border: map-get($estilos, border);
        margin-left: 20px;
        height: 74px;
        width: 199px;
        position: relative;
        bottom: 25px;
    }
    h2 {
        color: rgba(255, 255, 255, 0.6);
        font-family: $fuentePrincipal;
        font-size: 105px;
        @include flexbox(flex, column, center);
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        line-height: 1;
        margin-left: 15px;
    }
    p {
        color: rgba(255, 255, 255, 0.6);
        font-family: $fuentePrincipal;
        font-size: 40px;
        @include flexbox(flex, column, center);
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        margin-left: 15px;
        line-height: 1;
    }
}

/* -------------------- PROGRAMA ------------------------ */
.curso__container {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    .curso__programa{
        width: 80%;
        background-color: $colorTerciario;
        padding: 0;
        height: 460px;
        .programa {
            padding: 25px;
            div {
                color: #fff;
                h2 {
                    font-family: $fuentePrincipal;
                    font-size: 40px;
                }
                p{
                    overflow: auto;
                    height: 280px;
                }
                button {
                    position: relative;
                    left: 35%;
                    padding: 10px;
                    border: 2px solid black;
                    font-size: 16px;
                    font-weight: bold;
                    font-family: $fuentePrincipal;
                    cursor: pointer;
                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
    }
    .volver{
        font-family: $fuentePrincipal;
        font-size: 25px;
        margin-top: 20px;
        margin-left: 40px;
        text-align: left;
        a{
            text-decoration: none;
            color: white;
        }
    }
}
.curso__programa .curso__img {
    animation-name: imagenCurso;
    @include cursoAnimacion;
}
.tallerNovias{
    margin-top: 30px;
    .curso__programa .taller__img{
        animation-name: imagenTaller;
        @include cursoAnimacion;
    }
}
.tallerMarketing{
    margin-top: 30px;
    margin-bottom: 70px;
    .curso__programa{
        .marketing__img{
            animation-name: imagenMarketing;
            @include cursoAnimacion;
        }
        .programa div p{
            height: 230px;
        }
    } 
}

/*-------SERVICIOS-------SERVICIOS-------SERVICIOS-------SERVICIOS--------------SERVICIOS-------SERVICIOS */
/* -------------------- HERO ------------------------ */
.hero__servicios__container .hero__servicios {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5),
    )
    ,url(../multimedia/hero-escuela.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 40px;
    height: 550px;
    width: 100%;

    h1 {
        color: map-get($estilos, color);
        background-color: map-get($estilos, backgroundColor);
        padding: map-get($estilos, padding);
        display: map-get($estilos, display);
        font-family: map-get($estilos, font);
        font-size: map-get($estilos, fontsize);
        border: map-get($estilos, border);
        margin-left: 20px;
        position: relative;
        bottom: 25px;
    }
    h2 {
        color: rgba(255, 255, 255, 0.6);
        font-family: $fuentePrincipal;
        font-size: 90px;
        @include flexbox(flex, column, center);
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        line-height: 1;
        margin-right: 15px;
        text-align: right;
        span{
            font-size: 130px;
        }
    }
}

/* -------------------- CATEGORIAS ------------------------ */
.listaCategorias ul {
    flex-wrap: wrap;
}

.listaCategorias li a {
    padding: 10px 10px;
}

/* -------------------- info ------------------------ */
.servicios__container {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    .servicios__info{
        width: 90%;
        background-color: $colorTerciario;
        padding: 0;
        height: 500px;
        .imagen{
            
            .novias__img{
                background-image: url(../multimedia/moda__img.jpg);
                height: 500px;
                background-position: center;
                background-size: cover;
            }
        }
        .info {
            padding: 35px;
            div {
                color: #fff;
                h2 {
                    font-family: $fuentePrincipal;
                    font-size: 42px;
                }
                h3{
                    font-family: $fuentePrincipal;
                    font-size: 32px;
                }
                p{
                    overflow: auto;
                    height: 280px;
                }
                button {
                    position: relative;
                    left: 35%;
                    padding: 10px;
                    border: 2px solid black;
                    font-size: 16px;
                    font-weight: bold;
                    font-family: $fuentePrincipal;
                    cursor: pointer;
                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
    }
    .volver{
        font-family: $fuentePrincipal;
        font-size: 25px;
        margin-top: 20px;
        margin-left: 40px;
        text-align: left;
        a{
            text-decoration: none;
            color: white;
        }
    }
}
/*-------NOSOTRAS-------NOSOTRAS-------NOSOTRAS-------NOSOTRAS--------------NOSOTRAS-------NOSOTRAS */
/* -------------------- NOSOTRAS ------------------------ */
.hero__nosotras__container .hero__nosotras {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5),
    )
    ,url(../multimedia/nosotras3.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 40px;
    height: 570px;
    width: 100%;

    h2 {
        color: map-get($estilos, color);
        background-color: map-get($estilos, backgroundColor);
        padding: map-get($estilos, padding);
        display: map-get($estilos, display);
        font-family: map-get($estilos, font);
        font-size: map-get($estilos, fontsize);
        border: map-get($estilos, border);
        margin-left: 20px;
        position: relative;
        bottom: 25px;
    }

    h3 {
        color: rgba(255, 255, 255, 0.3);
        font-family: $fuentePrincipal;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
        font-size: 210px;
        height: 468px;
        @include flexbox(flex, column, center);
        align-items: center;
    }
}

.container__nosotras {
    display: flex;
    justify-content: center;

    p {
        width: 910px;
        text-align: center;
        padding: 40px;
        margin: 10px 30px;
        animation-duration: 5s;
        animation-name: aparecer;
        animation-iteration-count: infinite;
        color: #fff;
        font-family: "Montserrat", sans-serif;
    }
}

/* -------------------- ELLAS ------------------------ */
.nuestraMision__container .nuestraMision {
    background-image: url(../multimedia/mision5.jpeg);
    background-size: cover;
    background-position: center center;
    margin-top: 40px;
    width: 100%;

    h2 {
        color: map-get($estilos, color);
        background-color: map-get($estilos, backgroundColor);
        padding: map-get($estilos, padding);
        display: map-get($estilos, display);
        font-family: map-get($estilos, font);
        font-size: map-get($estilos, fontsize);
        border: map-get($estilos, border);
        margin-left: 20px;
        position: relative;
        bottom: 25px;
    }

    h3 {
        color: rgba(255, 255, 255, 0.3);
        font-family: $fuentePrincipal;
        font-size: 224px;
        height: 468px;
        @include flexbox(flex, column, center);
        align-items: center;
    }
}

.container__ellas {
    display: flex;
    justify-content: center;

    p {
        text-align: center;
        padding: 40px;
        margin: 10px 30px;
        animation-duration: 5s;
        animation-name: aparecerDos;
        animation-iteration-count: infinite;
        width: 800px;
        color: #fff;
    }
}

/*-------CONTACTO-------CONTACTO-------CONTACTO-------CONTACTO--------------CONTACTO-------CONTACTO------- */
/* -------------------- HERO ------------------------ */
.hero__contacto {
    @include flexbox(flex, column, center);
    flex-wrap: nowrap;
    align-items: center;
    height: 330px;
    background-color: #000;

    h2 {
        font-family: $fuentePrincipal;
        background-color: white;
        color: black;
        font-size: 30px;
        padding: 10px;
        border: 3px solid black;
        display: inline-block;
        width: 153px;
        position: relative;
        top: 10px;
        right: 254px;
        margin-top: 60px;
    }

    h3 {
        font-family: $fuentePrincipal;
        background-color: $colorPrincipal;
        color: white;
        font-size: 28px;
        padding: 20px;
        width: 510px;
        margin-bottom: 60px;
        border: 2px solid #000;
        position: relative;

        span{
            position: absolute;
            right: 0;
            width: 0;
            background: $colorPrincipal;
            border-left: 1px solid white;
            animation: maquina 5s infinite alternate steps(36);
        }
    }
}

/* -------------------- CONTACTO ------------------------ */
.container__contacto{
    width: 100%;
    height: 470px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
        
        h1 {
            font-family: $fuentePrincipal;
            font-size: 50px;
            color: #fff;
            text-align: center;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        p{
            color: #fff;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            text-align: center;
            margin-bottom: 30px;
            line-height: 1.2;
        }
        .form__contacto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            form {
                width: 55%;
                padding: 30px 25px 20px 25px;
                p{
                    font-size: 17px;
                    font-family: "Roboto", sans-serif;
                    margin-bottom: 10px;
                    input{
                        font-size: 16px;
                    }
                    textarea{
                        @extend input
                    }
                }
                .mensaje{
                    width: 100%;
                }
                .enviarMensaje {
                    color: white;
                    background-color: $colorPrincipal;
                    font-family: $fuentePrincipal;
                    font-size: 18px;
                    border: none;
                    padding: 4px;
                    width: 200px;
                    height: 37px;
                    box-shadow: 0 0 25px $colorPrincipal;
                }
            }
        }
}

.info__contacto {
    color: white;
    margin: 25px 0px 0px 0px;
    h4 {
        font-family: $fuentePrincipal;
        text-align: center;
        font-size: 27px;
    }
    p {
        text-align: center;
        font-size: 18px;
        .redes {
            padding: 20px 12px 10px 12px;
            cursor: pointer;
            font-size: 32px;
            text-shadow: 0 0 20px #fff;
            &:hover {
                transform: scale(1.3, 1.3);
            }
        }
        .facebook{
            text-shadow: 0 0 20px #3a5795;
        }
        .twitter{
            text-shadow: 0 0 20px #55acee;
        }
        .instagram{
            text-shadow: 0 0 20px  #E1306C;
        }
    }
}

/* -------------------- IFRAME ------------------------ */
.mapa__contacto {
    @include flexbox(flex, row, center);
    align-items: center;
    width: 100%;
    height: 460px;

    .mapa {
        width: 800px;
        height: 400px;
    }
}


@import "mediaqueries";